@using System.Text;
@inherits PaginationBase

<div class="@base.GetClass()" style="@GetStyle()">

    @if (_totalPages > 0)
    {
        int startPage = CurrentPage - 5;
        if (startPage < 0)
        {
            startPage = 0;
        }

        int endPage = startPage + 9;
        if (endPage > _totalPages)
        {
            endPage = _totalPages - 1;
            startPage = endPage - 9;
            if (startPage < 0)
            {
                startPage = 0;
            }
        }

        @if (LinkGenerator != null)
        {
            <a class="pagination-item" disabled="@(CurrentPage < 1)" href="@GetPreviousLink()">
                @if (PaginationBackContent != null)
                {
                    @PaginationBackContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                }
            </a>

            for (int i = startPage; i <= endPage; i++)
            {
                var buttonNumber = i;
                var isActive = i == CurrentPage;

                <a class="@GetPaginationItemClass(isActive)" href="@GetPageLink(buttonNumber, isActive)" disabled="@(isActive)">
                    @if (PaginationItemContent != null)
                    {
                        @PaginationItemContent(buttonNumber + 1)
                    }
                    else
                    {
                        @(buttonNumber + 1)
                    }
                </a>
            }

            <a class="pagination-item" href="@GetPreviousLink()" disabled="@(CurrentPage >= _totalPages - 1)">
                @if (PaginationNextContent != null)
                {
                    @PaginationNextContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                }
            </a>
        }
        else
        {
            <button class="pagination-item" @onclick="MoveBack" disabled="@(CurrentPage < 1)">
                @if (PaginationBackContent != null)
                {
                    @PaginationBackContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                }

            </button>

            for (int i = startPage; i <= endPage; i++)
            {
                var buttonNumber = i;
                var isActive = i == CurrentPage;

                <button class="@GetPaginationItemClass(isActive)" @onclick="(() => ChangePage(buttonNumber))" disabled="@(isActive)">
                    @if (PaginationItemContent != null)
                    {
                        @PaginationItemContent(buttonNumber + 1)
                    }
                    else
                    {

                        @(buttonNumber + 1)
                    }
                </button>
            }

            <button class="pagination-item" @onclick="MoveNext" disabled="@(CurrentPage >= _totalPages - 1)">
                @if (PaginationNextContent != null)
                {
                    @PaginationNextContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                }
            </button>
        }
    }

</div>

@code {
    private int _totalPages;

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int ItemsPerPage { get; set; }

    [Parameter]
    public int TotalItems { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    [Parameter]
    public RenderFragment<int>? PaginationItemContent { get; set; }

    [Parameter]
    public string? ActiveItemClass { get; set; }

    [Parameter]
    public Func<int, string>? LinkGenerator { get; set; }

    private string GetNextLink()
    {
        if (LinkGenerator != null)
        {
            //ensure we have a next page"
            if (CurrentPage < _totalPages - 1)
            {
                return LinkGenerator(CurrentPage + 1);
            }
            else
            {
                return string.Empty;
            }
        }
        else
        {
            return string.Empty;
        }
    }

    private string GetPageLink(int page, bool isActive)
    {
        if (LinkGenerator != null)
        {
            if (isActive)
            {
                return string.Empty
            }
            else
            {
                return LinkGenerator(page);
            }
        }
        else
        {
            return string.Empty;
        }
    }

    private string GetPreviousLink()
    {
        if (LinkGenerator != null)
        {
            //ensure we have a previous page"
            if (CurrentPage > 0)
            {
                return LinkGenerator(CurrentPage - 1);
            }
            else
            {
                return string.Empty;
            }
        }

        return string.Empty;
    }

    private string GetPaginationItemClass(bool isActive)
    {
        StringBuilder sb = new();
        sb.Append("pagination-item");
        if (isActive)
        {
            sb.Append(' ');
            sb.Append(ActiveItemClass ?? "active");
        }

        return sb.ToString();
    }

    protected override void OnParametersSet()
    {
        _totalPages = (int)Math.Ceiling(TotalItems / (double)ItemsPerPage);
        base.OnParametersSet();
    }

    private async Task ChangePage(int page)
    {
        CurrentPage = page;
        await PageChanged.InvokeAsync(page);
    }

    public async Task MoveNext()
    {
        CurrentPage++;
        await PageChanged.InvokeAsync(CurrentPage);
    }

    private async Task MoveBack()
    {
        CurrentPage--;
        await PageChanged.InvokeAsync(CurrentPage);
    }
}