@using System.Text;
@inherits PaginationBase

<div class="@base.GetClass()" style="@GetStyle()">

    @if (_totalPages > 0)
    {
        int startPage = CurrentPage - 5;
        if (startPage < 0)
        {
            startPage = 0;
        }

        int endPage = startPage + 9;
        if (endPage > _totalPages)
        {
            endPage = _totalPages - 1;
            startPage = endPage - 9;
            if (startPage < 0)
            {
                startPage = 0;
            }
        }

        @if (LinkGenerator != null)
        {
            <a class="@GetAppliedPreviousClass()" @attributes="GetPreviousAttributes()">
                @if (PaginationPreviousContent != null)
                {
                    @PaginationPreviousContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                }
            </a>

            for (int i = startPage; i <= endPage; i++)
            {
                var buttonNumber = i;
                var isActive = i == CurrentPage;

                <a class="@GetPaginationItemClass(isActive)" @attributes="GetItemAttributes(buttonNumber, isActive)">
                    @if (PaginationItemContent != null)
                    {
                        @PaginationItemContent(buttonNumber + 1)
                    }
                    else
                    {
                        @(buttonNumber + 1)
                    }
                </a>
            }

            <a class="@GetAppliedNextClass()" @attributes="GetNextAttributes()">
                @if (PaginationNextContent != null)
                {
                    @PaginationPreviousContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                }
            </a>
        }
        else
        {
            <button class="@GetAppliedPreviousClass()" @onclick="MovePrevious" disabled="@(CanGoPrevious!)">
                @if (PaginationPreviousContent != null)
                {
                    @PaginationPreviousContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                    }
                }

            </button>

            for (int i = startPage; i <= endPage; i++)
            {
                var buttonNumber = i;
                var isActive = i == CurrentPage;

                <button class="@GetPaginationItemClass(isActive)" @onclick="(() => ChangePage(buttonNumber))" disabled="@(isActive)">
                    @if (PaginationItemContent != null)
                    {
                        @PaginationItemContent(buttonNumber + 1)
                    }
                    else
                    {

                        @(buttonNumber + 1)
                    }
                </button>
            }

            <button class="@GetAppliedNextClass()" @onclick="MoveNext" disabled="@(CanGoNext!)">
                @if (PaginationNextContent != null)
                {
                    @PaginationNextContent
                }
                else
                {
                    if (Resolver.IconStyle == IconStyle.Fluent)
                    {
                        <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                    else
                    {
                        <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                    }
                }
            </button>
        }
    }

</div>

@code {
    private int _totalPages;

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int ItemsPerPage { get; set; }

    [Parameter]
    public int TotalItems { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    [Parameter]
    public RenderFragment<int>? PaginationItemContent { get; set; }

    [Parameter]
    public string? ActiveItemClass { get; set; }

    [Parameter]
    public Func<int, string>? LinkGenerator { get; set; }

    public override bool CanGoNext => CurrentPage < _totalPages - 1;

    public override bool CanGoPrevious => CurrentPage > 0;

    private Dictionary<string, object> GetItemAttributes(int buttonNumber, bool isActive)
    {
        var attributes = new Dictionary<string, object>();
        if (LinkGenerator != null)
        {
            if (!isActive)
            {
                attributes.Add("href", LinkGenerator(buttonNumber));
            }
        }
        return attributes;
    }

    private Dictionary<string, object> GetNextAttributes()
    {
        var attributes = new Dictionary<string, object>();
        if (LinkGenerator != null)
        {
            if (CurrentPage < _totalPages - 1)
            {
                attributes.Add("href", LinkGenerator(CurrentPage + 1));
            }
        }
        return attributes;
    }

    private Dictionary<string, object> GetPreviousAttributes()
    {
        var attributes = new Dictionary<string, object>();
        if (LinkGenerator != null)
        {
            if (CurrentPage > 0)
            {
                attributes.Add("href", LinkGenerator(CurrentPage - 1));
            }
        }
        return attributes;
    }

    private string GetPaginationItemClass(bool isActive)
    {
        StringBuilder sb = new();
        sb.Append("pagination-item");
        if (isActive)
        {
            sb.Append(' ');
            sb.Append(ActiveItemClass ?? "active");
        }

        return sb.ToString();
    }

    protected override void OnParametersSet()
    {
        _totalPages = (int)Math.Ceiling(TotalItems / (double)ItemsPerPage);
        base.OnParametersSet();
    }

    private async Task ChangePage(int page)
    {
        CurrentPage = page;
        await PageChanged.InvokeAsync(page);
    }

    public async Task MoveNext()
    {
        CurrentPage++;
        await PageChanged.InvokeAsync(CurrentPage);
    }

    private async Task MovePrevious()
    {
        CurrentPage--;
        await PageChanged.InvokeAsync(CurrentPage);
    }
}