@inherits PaginationBase

<div class="@GetClass()" style="@GetStyle()">
    @if (LinkGenerator != null)
    {
        <a class="@GetAppliedPreviousClass()" @attributes="GetAttributes(PreviousCursor)">
            @if (PaginationPreviousContent != null)
            {
                @PaginationPreviousContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </a>
        <a class="@GetAppliedNextClass()" @attributes="GetAttributes(NextCursor)">
            @if (PaginationNextContent != null)
            {
                @PaginationNextContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </a>
    }
    else
    {
        <button class="@GetAppliedPreviousClass()" @onclick="MovePrevious" disabled="@(PreviousCursor==null)">
            @if (PaginationPreviousContent != null)
            {
                @PaginationPreviousContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </button>
        <button class="@GetAppliedNextClass()" @onclick="MoveNext" disabled="@(NextCursor==null)">
            @if (PaginationNextContent != null)
            {
                @PaginationNextContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </button>
    }
</div>

@code {

    [Parameter]
    public object? NextCursor { get; set; }

    [Parameter]
    public object? PreviousCursor { get; set; }

    [Parameter]
    public EventCallback<object> CursorChanged { get; set; }

    [Parameter]
    public Func<object?, string>? LinkGenerator { get; set; }

    public override bool CanGoNext => NextCursor != null;

    public override bool CanGoPrevious => PreviousCursor != null;

    private async Task MoveNext()
    {
        if (NextCursor != null)
        {
            await ChangeCursor(NextCursor);
        }
    }

    private async Task MovePrevious()
    {
        if (PreviousCursor != null)
        {
            await ChangeCursor(PreviousCursor);
        }
    }

    private async Task ChangeCursor(object cursor)
    {
        await CursorChanged.InvokeAsync(cursor);
    }

    private Dictionary<string, object> GetAttributes(object? input)
    {
        var attributes = new Dictionary<string, object>();
        if (input != null && LinkGenerator != null)
        {
            attributes.Add("href", LinkGenerator.Invoke(input));
        }
        return attributes;
    }
}
