@inherits PaginationBase

<div class="@GetClass()" style="@GetStyle()">
    @if (LinkGenerator != null)
    {
        <a class="@GetAppliedPreviousClass()" @attributes="GetAttributes(PreviousCursor)">
            @if (PaginationPreviousContent != null)
            {
                @PaginationPreviousContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </a>
        <a class="@GetAppliedNextClass()" @attributes="GetAttributes(NextCursor)">
            @if (PaginationNextContent != null)
            {
                @PaginationNextContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </a>
    }
    else
    {
        <button class="@GetAppliedPreviousClass()" @onclick="MovePrevious" disabled="@(PreviousCursor==null)">
            @if (PaginationPreviousContent != null)
            {
                @PaginationPreviousContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronLeft" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </button>
        <button class="@GetAppliedNextClass()" @onclick="MoveNext" disabled="@(NextCursor==null)">
            @if (PaginationNextContent != null)
            {
                @PaginationNextContent
            }
            else
            {
                if (Resolver.IconStyle == IconStyle.Fluent)
                {
                    <FluentIcon Icon="@ComponentIcons.Fluent.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
                else
                {
                    <FeatherIcon Icon="@ComponentIcons.Feather.ChevronRight" Size="Resolver.DefaultButtonIconSize" />
                }
            }
        </button>
    }
</div>


